extends layout

block content
  h1.text-primary= title
  div.text-center
    img.img.img-responsive(src="/images/logo.png" alt="Logo Image")
  p.text-center.text-danger Bon voila ca Aleks me fait pas chier
  //#{title}
